.input-label {
  color: #666;
  margin-bottom: 25px;
}
.input-label-text {
  display: inline-block;
  margin-bottom: 8px;
}
.add-user-input {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #666;
  height: 30px;
}
